body{
    font-family:  sans-serif; 
    background: #1A1110
}

.navbar
{
    background-color: #1A1110;
    }


    header {
            position: relative;
            margin: 10px auto;
            width: 100%;
            height: 50vh;
            background: black;
    }

    header img {
        margin: 20px;
    /* padding: 0; */
    line-height: 60vh;
    }


    .masthead{
        position: relative;
        margin: 20px auto;
        width: 100%;
        height: 55vh;
        background: black;
    }

    .bio{
        position: relative;
        margin: 20px auto;
        width: 100%;
        height: 30vh;
        background: black;
    }




    .musicSecetion{
        position: relative;
        margin: 20px auto;
        width: 100%;
        /* height: 30vh; */
        background: black;
    }


    #mainPic{
    
    width: 100%;
    padding: 0;
    border: 3px ridge grey;
    border-radius: 10px; 
          /*     left ----------------------------------  right -------------------------------  bottom ------------------------------*/
    box-shadow: -15px 5px 13px -8px rgb(151, 183, 252), 15px 5px 5px -8px rgb(151, 183, 252), 5px 5px 15px 5px rgb(151, 183, 252); 
    z-index: 5; 
    }


section h1{
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
   line-height: 50vh;
   font-size: 3.75em;
}

section:nth-child(even) h1 {
    
    color: black;
}
